<h2>Edit Drink</h2>

<%= form_for @drink, html: {multipart: true} do |f| %>
  <!-- Check for errors -->
  <% if @drink.errors.any? %>
    <% @drink.errors.full_messages.each do |msg| %>
      <!-- Show errors -->
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:'form-control' %><br />
  </div>

  <div class="form-group">
    <%= f.label :category %><br />
    <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'}, class:'form-control' %><br /><br />
  </div>

  <div class="form-group", id='add_ingredients'>
    <%= f.label :ingredient %><br />
    <% Ingredient.all.each do |ingredient| %>
      <%= check_box_tag "drink[ingredient_ids][]", ingredient.id, class:'form-control' %><br />
      <%= ingredient.name %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :preparation %><br />
    <%= f.text_area :preparation, class:'form-control' %><br />
  </div>

  <div class="form-group">
    <%= f.label :image %><br />
    <%= f.file_field :image %><br />
  </div>

  <%= f.submit "Submit", class:'btn btn-primary' %>
  <%= link_to "Cancel", drinks_path, class:'btn btn-default' %>

<% end %>