<div id="drinks-show">
  <h2><%= @drink.name %></h2>
  <div class="drinks-show-left">
    <%= image_tag(@drink.coverpath) %>
  </div>
  <div class="drinks-show-right">
    <h3><strong>Primary alcohol: </strong><%= @drink.category.name %></h3>
    <ul>
      <li><strong>Ingredients:</strong>
        <p><% @drink.ingredients.each do |i| %>
          <%= i.name %>
        <% end %></p>
      </li>
      <li><strong>Preparation:</strong>
        <p><%= @drink.preparation %></p>
      </li>
  </div>
  <div class="clearfix"></div>
  <h3>Admin functions</h3>
  <%= link_to 'Edit', edit_drink_path(@drink.id) %> | <%= link_to 'Delete', drink_path(@drink), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
