<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Welcome' %> | Drink For Tonight </title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/header' %>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- Alerts & Messages -->
          <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
          <% end %>

          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
            <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render 'partials/sidebar' %>
          </div>
        </div>  
      </div>
    </section>

    <%= render 'layouts/footer' %>
  </body>
</html>
